@model WebUIMVC.Areas.Admin.Models.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="fullscreen-bg">
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/assets/img/favicon.png">

    <title>登录</title>
    @Styles.Render("~/bundles/libCss")
    @Styles.Render("~/bundles/app")
    <style>
        #MsgTxt {
            color: #ff0000;
        }

        .auth-box .content {
            width: 98%;
        }

        .fill-form-info {
            background-image: none !important;
            height: auto !important;
            float: left !important;
            padding-right: 30px;
            padding-left: 30px;
            border-right: 1px solid #eee;
        }

        .left {
            float: right !important;
        }


    </style>
</head>
<body>
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box ">
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center">
                                    <img src="~/Content/assets/img/logo-dark.png" alt="Klorofil Logo">
                                </div>

                            </div>
                            <form class="form-auth-small" runat="server" action="@Url.Action("Login")" method="post">
                                <div class="form-group">
                                    @Html.TextBoxFor(vm=>vm.UserName, new {@class = "form-control", placeholder = "用户名"})
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(vm=>vm.UserPwd,new {@class = "form-control",placeholder="密码"})
                                    @Html.ValidationMessageFor(vm => vm.UserPwd)
                                </div>
                                <div class="form-group" style="position: relative">
                                    @Html.TextBoxFor(vm=>vm.CheckCode,new {@class = "form-control",placeholder = "验证码"})
                                    <a onclick="refresh()" style="position: absolute; top: 5px; right: 4px;">
                                        <img src="@Url.Action("VaildImg")" id="ValidateCodeImage" style="cursor: pointer" />
                                    </a>

                                    @Html.ValidationMessageFor(model => model.CheckCode)
                                </div>
                                <button class="btn btn-primary btn-lg btn-block" type="submit">登录</button>
                                <div class="bottom">
                                    <p id="MsgTxt">
                                        @ViewBag.ErrorMsg
                                    </p>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/util")
</body>
</html>